html,
body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import "_nav";
@import "_hero";
@import "_features";
@import "_gallery";
@import "_footer";
